@if (activeSubTab() === 'Agent Dashboard') {
  <app-multi-site-agent-dashboard></app-multi-site-agent-dashboard>
}
@if (activeSubTab() === 'Agent License Harvest') {
  <app-multi-site-agent-license-harvest></app-multi-site-agent-license-harvest>
}
@if (activeSubTab() === 'Agent Process Type 1') {
  <app-multi-site-agent-process-type-1></app-multi-site-agent-process-type-1>
}
@if (activeSubTab() === 'Agent User') {
  <app-multi-site-agent-user></app-multi-site-agent-user>
}
@if (activeSubTab() === 'Agent User Process Computer') {
  <app-multi-site-agent-user-process-computer></app-multi-site-agent-user-process-computer>
}
@if (activeSubTab() === 'Dashboard') {
  <app-multi-site-dashboard></app-multi-site-dashboard>
}
@if (activeSubTab() === 'License Expiry') {
  <app-multi-site-license-expiry></app-multi-site-license-expiry>
}
@if (activeSubTab() === 'License Organization') {
  <app-multi-site-license-organization></app-multi-site-license-organization>
}
@if (activeSubTab() === 'License Usage') {
  <app-multi-site-license-usage></app-multi-site-license-usage>
}
@if (activeSubTab() === 'Status') {
  <app-multi-site-status></app-multi-site-status>
}
