@if (activeSubTab() === 'Actcad') {
  <app-software-actcad></app-software-actcad>
}
@if (activeSubTab() === 'Cosin') {
  <app-software-cosin></app-software-cosin>
}
@if (activeSubTab() === 'Multi') {
  <app-software-multi></app-software-multi>
}
@if (activeSubTab() === 'Pup') {
  <app-software-pup></app-software-pup>
}
@if (activeSubTab() === 'Vcs') {
  <app-software-vcs></app-software-vcs>
}
@if (activeSubTab() === 'Windchill') {
  <app-software-windchill></app-software-windchill>
}
@if (activeSubTab() === 'Xcrash') {
  <app-software-xcrash></app-software-xcrash>
}
