<div class="app-layout">
    <header class="layout-header">
        <app-header></app-header>
    </header>

    <div class="layout-body">
        <aside class="layout-sidebar">
            <app-side-bar></app-side-bar>
        </aside>

        <main class="layout-main" (click)="status()">
            <app-tab-row class="tab-row"></app-tab-row>
            <app-contents></app-contents>
            <app-status-bar></app-status-bar>
        </main>
    </div>

    <!-- <footer class="layout-footer">
        
    </footer> -->
</div>