:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    width: 100%;
}

:host>* {
    flex: 1;
    min-height: 0;
}

.main {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}

