@if(filterService.showFilterBar()) {
<app-filter-bar></app-filter-bar>
}
@if (activeSubTab() === 'Organization') {
<app-license-organization></app-license-organization>
}
@if (activeSubTab() === 'Organization By Week' || activeSubTab() === 'Organization by Week') {
<app-license-organization-by-week></app-license-organization-by-week>
}
@if (activeSubTab() === 'Organization By Year Month' || activeSubTab() === 'Organization by Year Month') {
<app-license-organization-by-year-month></app-license-organization-by-year-month>
}
@if (activeSubTab() === 'Division') {
<app-license-division></app-license-division>
}
@if (activeSubTab() === 'Department') {
<app-license-department></app-license-department>
}
@if (activeSubTab() === 'Group') {
<app-license-group></app-license-group>
}
@if (activeSubTab() === 'My Feature') {
<app-license-my-feature></app-license-my-feature>
}
@if (activeSubTab() === 'Report Type 1') {
<app-license-report-type-1></app-license-report-type-1>
}
@if (activeSubTab() === 'Denial') {
<app-license-denial></app-license-denial>
}
@if (activeSubTab() === 'Borrow') {
<app-license-borrow></app-license-borrow>
}
@if (activeSubTab() === 'Usage') {
<app-license-usage></app-license-usage>
}
@if (activeSubTab() === 'User') {
<app-license-user></app-license-user>
}
@if (activeSubTab() === 'Computer') {
<app-license-computer></app-license-computer>
}
@if (activeSubTab() === 'Group Member') {
<app-license-group-member></app-license-group-member>
}
@if (activeSubTab() === 'License and Agent Combined' || activeSubTab() === 'And Agent Combined') {
<app-license-and-agent-combined></app-license-and-agent-combined>
}
@if (activeSubTab() === 'Debug Data') {
<app-license-debug-data></app-license-debug-data>
}


