:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    width: 100%;
}

:host > app-filter-bar {
    flex: 0 0 auto !important;
}

:host > *:not(app-filter-bar) {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}