:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.framework-grid-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 0;
}

::ng-deep .ag-header-cell-label {
  justify-content: center !important;
  text-align: center !important;
}

::ng-deep .ag-header-cell-text {
  text-align: center !important;
}
