@if (activeSubTab() === 'Access Control') {
<app-admin-access-control></app-admin-access-control>
}
@if (activeSubTab() === 'Agent') {
<app-admin-agent></app-admin-agent>
}
@if (activeSubTab() === 'Agent Install') {
<app-admin-agent-install></app-admin-agent-install>
}
@if (activeSubTab() === 'Cloud') {
<app-admin-cloud></app-admin-cloud>
}
@if (activeSubTab() === 'Data Process') {
<app-admin-data-process></app-admin-data-process>
}
@if (activeSubTab() === 'Department Summary 1') {
<app-admin-department-summary-1></app-admin-department-summary-1>
}
@if (activeSubTab() === 'ESEC Preferences') {
<app-admin-esec-preferences></app-admin-esec-preferences>
}
@if (activeSubTab() === 'GDPR') {
<app-admin-gdpr></app-admin-gdpr>
}
@if (activeSubTab() === 'Holiday') {
<app-admin-holiday></app-admin-holiday>
}
@if (activeSubTab() === 'License') {
<app-admin-license></app-admin-license>
}
@if (activeSubTab() === 'License Cost') {
<app-admin-license-cost></app-admin-license-cost>
}
@if (activeSubTab() === 'Multi Site') {
<app-admin-multi-site></app-admin-multi-site>
}
@if (activeSubTab() === 'Software') {
<app-admin-software></app-admin-software>
}
@if (activeSubTab() === 'Software Compliance') {
<app-admin-software-compliance></app-admin-software-compliance>
}
@if (activeSubTab() === 'Software Inventory') {
<app-admin-software-inventory></app-admin-software-inventory>
}
@if (activeSubTab() === 'Software Register') {
<app-admin-software-register></app-admin-software-register>
}
@if (activeSubTab() === 'Software Register 1') {
<app-admin-software-register-1></app-admin-software-register-1>
}
@if (activeSubTab() === 'Teamcenter') {
<app-admin-teamcenter></app-admin-teamcenter>
}
@if (activeSubTab() === 'User') {
<app-admin-user></app-admin-user>
}