<div class="tab-instance-body">
    @switch(tab().moduleName){
    @case('Dashboard'){
    <app-dashboard></app-dashboard>
    }
    @case('Cost'){
    <app-cost></app-cost>
    }
    @case('Billing'){
    <app-billing></app-billing>
    }
    @case('My Reports'){
    <app-my-report></app-my-report>
    }
    @case('License'){
    <app-license></app-license>
    }
    @case('Cloud'){
    <app-cloud></app-cloud>
    }
    @case('Process'){
    <app-process></app-process>
    }
    @case('Asset'){
    <app-asset></app-asset>
    }
    @case('Compliance'){
    <app-compliance></app-compliance>
    }
    @case('HPC'){
    <app-hpc></app-hpc>
    }
    @case('Multi Site'){
    <app-multi-site></app-multi-site>
    }
    @case('Software Register'){
    <app-software-register></app-software-register>
    }
    @case('Admin'){
    <app-admin></app-admin>
    }
    @case('License Manager'){
    <app-license-manager></app-license-manager>
    }
    @case('Software'){
    <app-software></app-software>
    }
    @case('Custom License'){
    <app-custom-license></app-custom-license>
    }
    @case('Planner Portal'){
    <app-planner-portal></app-planner-portal>
    }
    @case('Software Reservation'){
    <app-software-reservation></app-software-reservation>
    }
    @case('Chatbot'){
    <app-chatbot></app-chatbot>
    }
    @case('Software Dashboard'){
    <app-software-dashboard></app-software-dashboard>
    }
    @case('Project Portal'){
    <app-project-portal></app-project-portal>
    }
    @case('LicenseSummary'){
    <app-license-organization-summary [tab]="tab()"></app-license-organization-summary>
    }
    @case('LicenseUtilization'){
    <app-license-organization-utilization [tab]="tab()"></app-license-organization-utilization>
    }
    @case('LicenseHistory'){
    <app-license-organization-history [tab]="tab()"></app-license-organization-history>
    }
    @case('LicenseQos'){
    <app-license-organization-qos [tab]="tab()"></app-license-organization-qos>
    }
    @case('LicenseHeatmap'){
    <app-license-organization-heatmap [tab]="tab()"></app-license-organization-heatmap>
    }
    @case('LicenseMonth'){
    <app-license-organization-month [tab]="tab()"></app-license-organization-month>
    }
    @case('LicenseDate'){
    <app-license-organization-date [tab]="tab()"></app-license-organization-date>
    }
    @case('LicenseHours'){
    <app-license-organization-hours [tab]="tab()"></app-license-organization-hours>
    }
    @case('LicenseUsage'){
    <app-license-organization-usage [tab]="tab()"></app-license-organization-usage>
    }
    @case('LicenseUtilizationAndHours'){
    <app-license-organization-utilization-and-hours [tab]="tab()"></app-license-organization-utilization-and-hours>
    }
    @case('LicenseCheckoutUser'){
    <app-license-organization-checkout-user [tab]="tab()"></app-license-organization-checkout-user>
    }
    @case('LicenseCheckoutCount'){
    <app-license-organization-checkout-count [tab]="tab()"></app-license-organization-checkout-count>
    }
    @case('LicenseLongDuration'){
    <app-license-organization-long-duration [tab]="tab()"></app-license-organization-long-duration>
    }
    @case('LicenseDenial'){
    <app-license-organization-denial [tab]="tab()"></app-license-organization-denial>
    }
    @case('LicenseBorrow'){
    <app-license-organization-borrow [tab]="tab()"></app-license-organization-borrow>
    }
    @case('LicenseDivision'){
    <app-license-organization-division [tab]="tab()"></app-license-organization-division>
    }
    @case('LicenseDepartment'){
    <app-license-organization-department [tab]="tab()"></app-license-organization-department>
    }
    @case('LicenseReservation'){
    <app-license-organization-reservation [tab]="tab()"></app-license-organization-reservation>
    }
    @case('LicenseAssetInfo'){
    <app-license-organization-asset-info [tab]="tab()"></app-license-organization-asset-info>
    }
    @case('LicenseDebugData'){
    <app-license-organization-debug-data [tab]="tab()"></app-license-organization-debug-data>
    }
    @case('LicenseBundle'){
    <app-license-organization-bundle [tab]="tab()"></app-license-organization-bundle>
    }
    @default {
    <p class="default">No tab selected</p>
    }
    }
</div>