@if (activeSubTab() === 'Computer Process') {
  <app-process-computer-process></app-process-computer-process>
}
@if (activeSubTab() === 'Exe Usage') {
  <app-process-exe-usage></app-process-exe-usage>
}
@if (activeSubTab() === 'Id') {
  <app-process-id></app-process-id>
}
@if (activeSubTab() === 'License Harvest') {
  <app-process-license-harvest></app-process-license-harvest>
}
@if (activeSubTab() === 'License Harvest Summary') {
  <app-process-license-harvest-summary></app-process-license-harvest-summary>
}
@if (activeSubTab() === 'Software Usage') {
  <app-process-software-usage></app-process-software-usage>
}
@if (activeSubTab() === 'User') {
  <app-process-user></app-process-user>
}
@if (activeSubTab() === 'User Computer') {
  <app-process-user-computer></app-process-user-computer>
}
@if (activeSubTab() === 'User Process') {
  <app-process-user-process></app-process-user-process>
}
@if (activeSubTab() === 'User Process Computer') {
  <app-process-user-process-computer></app-process-user-process-computer>
}
@if (activeSubTab() === 'Website') {
  <app-process-website></app-process-website>
}
