@if (activeSubTab() === 'Create Department') {
  <app-planner-portal-create-department></app-planner-portal-create-department>
}
@if (activeSubTab() === 'Create Employees') {
  <app-planner-portal-create-employees></app-planner-portal-create-employees>
}
@if (activeSubTab() === 'Create Hours') {
  <app-planner-portal-create-hours></app-planner-portal-create-hours>
}
@if (activeSubTab() === 'Create Projects') {
  <app-planner-portal-create-projects></app-planner-portal-create-projects>
}
@if (activeSubTab() === 'Department Access') {
  <app-planner-portal-department-access></app-planner-portal-department-access>
}
@if (activeSubTab() === 'Department Project Access') {
  <app-planner-portal-department-project-access></app-planner-portal-department-project-access>
}
@if (activeSubTab() === 'Estimation Sheet') {
  <app-planner-portal-estimation-sheet></app-planner-portal-estimation-sheet>
}
@if (activeSubTab() === 'License Request') {
  <app-planner-portal-license-request></app-planner-portal-license-request>
}
@if (activeSubTab() === 'License Request Access') {
  <app-planner-portal-license-request-access></app-planner-portal-license-request-access>
}
@if (activeSubTab() === 'License Request Report') {
  <app-planner-portal-license-request-report></app-planner-portal-license-request-report>
}
@if (activeSubTab() === 'Lock Software') {
  <app-planner-portal-lock-software></app-planner-portal-lock-software>
}
@if (activeSubTab() === 'Map Software') {
  <app-planner-portal-map-software></app-planner-portal-map-software>
}
@if (activeSubTab() === 'Planner Access') {
  <app-planner-portal-planner-access></app-planner-portal-planner-access>
}
@if (activeSubTab() === 'Project Access') {
  <app-planner-portal-project-access></app-planner-portal-project-access>
}
@if (activeSubTab() === 'Recharge') {
  <app-planner-portal-recharge></app-planner-portal-recharge>
}
@if (activeSubTab() === 'Software Status') {
  <app-planner-portal-software-status></app-planner-portal-software-status>
}
@if (activeSubTab() === 'Software Usage') {
  <app-planner-portal-software-usage></app-planner-portal-software-usage>
}
@if (activeSubTab() === 'Time Sheet Report') {
  <app-planner-portal-time-sheet-report></app-planner-portal-time-sheet-report>
}
@if (activeSubTab() === 'Upload Time Sheet') {
  <app-planner-portal-upload-time-sheet></app-planner-portal-upload-time-sheet>
}
@if (activeSubTab() === 'WFL') {
  <app-planner-portal-wfl></app-planner-portal-wfl>
}
