@if (activeSubTab() === 'Department Hours Used') {
  <app-custom-license-department-hours-used></app-custom-license-department-hours-used>
}
@if (activeSubTab() === 'Department License Hours Used') {
  <app-custom-license-department-license-hours-used></app-custom-license-department-license-hours-used>
}
@if (activeSubTab() === 'Department Teamcenter Hours Used') {
  <app-custom-license-department-teamcenter-hours-used></app-custom-license-department-teamcenter-hours-used>
}
@if (activeSubTab() === 'Division Hours Used') {
  <app-custom-license-division-hours-used></app-custom-license-division-hours-used>
}
@if (activeSubTab() === 'Division License Hours Used') {
  <app-custom-license-division-license-hours-used></app-custom-license-division-license-hours-used>
}
@if (activeSubTab() === 'Division Teamcenter Hours Used') {
  <app-custom-license-division-teamcenter-hours-used></app-custom-license-division-teamcenter-hours-used>
}
@if (activeSubTab() === 'Software') {
  <app-custom-license-software></app-custom-license-software>
}
