:host {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.tab-main {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    scrollbar-width: none;
    height: var(--tab-row-height, 32px);
    align-items: center;
}

.tab-main:has(.tab) {
    background-color: rgb(239, 237, 237);
}

.close-button {
    border: none;
    background-color: transparent;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    color: gray;
    cursor: pointer;
}

.tab {
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    border-right: 1px solid lightgray;
    color: gray;
    width: fit-content;
    background-color: rgb(239, 237, 237);
    flex-shrink: 0;
    font-size: 13px;
    box-sizing: border-bottom;
}

.tab.active {
    background-color: white;
    border-bottom: 1px rgb(232, 230, 230);
    border-radius: 0 8px 0 0;
    margin-top: 2px;

}

.tab i {
    margin-right: 5px;
}