@if (activeSubTab() === 'Agent Linux') {
  <app-dashboard-agent-linux></app-dashboard-agent-linux>
}
@if (activeSubTab() === 'Agent Windows') {
  <app-dashboard-agent-windows></app-dashboard-agent-windows>
}
@if (activeSubTab() === 'Configuration') {
  <app-dashboard-configuration></app-dashboard-configuration>
}
@if (activeSubTab() === 'Consolidated Software Summary') {
  <app-dashboard-consolidated-software-summary></app-dashboard-consolidated-software-summary>
}
@if (activeSubTab() === 'Department') {
  <app-dashboard-department></app-dashboard-department>
}
@if (activeSubTab() === 'Department Summary 1') {
  <app-dashboard-department-summary-1></app-dashboard-department-summary-1>
}
@if (activeSubTab() === 'Division') {
  <app-dashboard-division></app-dashboard-division>
}
@if (activeSubTab() === 'On Cloud') {
  <app-dashboard-on-cloud></app-dashboard-on-cloud>
}
@if (activeSubTab() === 'On Prem') {
  <app-dashboard-on-prem></app-dashboard-on-prem>
}
@if (activeSubTab() === 'Process') {
  <app-dashboard-process></app-dashboard-process>
}
@if (activeSubTab() === 'Process Type 1') {
  <app-dashboard-process-type-1></app-dashboard-process-type-1>
}
@if (activeSubTab() === 'Process Type 2') {
  <app-dashboard-process-type-2></app-dashboard-process-type-2>
}
@if (activeSubTab() === 'Process Type 3') {
  <app-dashboard-process-type-3></app-dashboard-process-type-3>
}
@if (activeSubTab() === 'Software Inventory') {
  <app-dashboard-software-inventory></app-dashboard-software-inventory>
}
@if (activeSubTab() === 'Software Summary') {
  <app-dashboard-software-summary></app-dashboard-software-summary>
}
@if (activeSubTab() === 'Software Summary 1') {
  <app-dashboard-software-summary-1></app-dashboard-software-summary-1>
}
@if (activeSubTab() === 'Vendor Expiry Utilization') {
  <app-dashboard-vendor-expiry-utilization></app-dashboard-vendor-expiry-utilization>
}
