:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 0;
}

framework-grid {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    min-height: 0;
}
