@if (activeSubTab() === 'Bentley') {
  <app-license-manager-bentley></app-license-manager-bentley>
}
@if (activeSubTab() === 'Checkout') {
  <app-license-manager-checkout></app-license-manager-checkout>
}
@if (activeSubTab() === 'Denial') {
  <app-license-manager-denial></app-license-manager-denial>
}
@if (activeSubTab() === 'Expiry') {
  <app-license-manager-expiry></app-license-manager-expiry>
}
@if (activeSubTab() === 'Feature') {
  <app-license-manager-feature></app-license-manager-feature>
}
@if (activeSubTab() === 'Feature View') {
  <app-license-manager-feature-view></app-license-manager-feature-view>
}
@if (activeSubTab() === 'Logs') {
  <app-license-manager-logs></app-license-manager-logs>
}
@if (activeSubTab() === 'Opt') {
  <app-license-manager-opt></app-license-manager-opt>
}
@if (activeSubTab() === 'Service') {
  <app-license-manager-service></app-license-manager-service>
}
@if (activeSubTab() === 'Vendor') {
  <app-license-manager-vendor></app-license-manager-vendor>
}
