@if (activeSubTab() === 'Adobe') {
  <app-cloud-adobe></app-cloud-adobe>
}
@if (activeSubTab() === 'Aft') {
  <app-cloud-aft></app-cloud-aft>
}
@if (activeSubTab() === 'Altium') {
  <app-cloud-altium></app-cloud-altium>
}
@if (activeSubTab() === 'Anydesk') {
  <app-cloud-anydesk></app-cloud-anydesk>
}
@if (activeSubTab() === 'Autodesk') {
  <app-cloud-autodesk></app-cloud-autodesk>
}
@if (activeSubTab() === 'Automation Anywhere') {
  <app-cloud-automation-anywhere></app-cloud-automation-anywhere>
}
@if (activeSubTab() === 'Aveva') {
  <app-cloud-aveva></app-cloud-aveva>
}
@if (activeSubTab() === 'Bentley') {
  <app-cloud-bentley></app-cloud-bentley>
}
@if (activeSubTab() === 'Bentley Real') {
  <app-cloud-bentley-real></app-cloud-bentley-real>
}
@if (activeSubTab() === 'Brixlab') {
  <app-cloud-brixlab></app-cloud-brixlab>
}
@if (activeSubTab() === 'Confluence') {
  <app-cloud-confluence></app-cloud-confluence>
}
@if (activeSubTab() === 'Crowdstrike') {
  <app-cloud-crowdstrike></app-cloud-crowdstrike>
}
@if (activeSubTab() === 'Csi') {
  <app-cloud-csi></app-cloud-csi>
}
@if (activeSubTab() === 'Figma') {
  <app-cloud-figma></app-cloud-figma>
}
@if (activeSubTab() === 'Forescout') {
  <app-cloud-forescout></app-cloud-forescout>
}
@if (activeSubTab() === 'Github') {
  <app-cloud-github></app-cloud-github>
}
@if (activeSubTab() === 'Hexagon') {
  <app-cloud-hexagon></app-cloud-hexagon>
}
@if (activeSubTab() === 'Iserve') {
  <app-cloud-iserve></app-cloud-iserve>
}
@if (activeSubTab() === 'Jira') {
  <app-cloud-jira></app-cloud-jira>
}
@if (activeSubTab() === 'Kepware') {
  <app-cloud-kepware></app-cloud-kepware>
}
@if (activeSubTab() === 'Mcafee') {
  <app-cloud-mcafee></app-cloud-mcafee>
}
@if (activeSubTab() === 'Microsoft') {
  <app-cloud-microsoft></app-cloud-microsoft>
}
@if (activeSubTab() === 'Milestone') {
  <app-cloud-milestone></app-cloud-milestone>
}
@if (activeSubTab() === 'Mt Linki') {
  <app-cloud-mt-linki></app-cloud-mt-linki>
}
@if (activeSubTab() === 'Mulesoft') {
  <app-cloud-mulesoft></app-cloud-mulesoft>
}
@if (activeSubTab() === 'Omnissa') {
  <app-cloud-omnissa></app-cloud-omnissa>
}
@if (activeSubTab() === 'Opentext Ecm') {
  <app-cloud-opentext-ecm></app-cloud-opentext-ecm>
}
@if (activeSubTab() === 'Oracle') {
  <app-cloud-oracle></app-cloud-oracle>
}
@if (activeSubTab() === 'Qlik') {
  <app-cloud-qlik></app-cloud-qlik>
}
@if (activeSubTab() === 'Qualys') {
  <app-cloud-qualys></app-cloud-qualys>
}
@if (activeSubTab() === 'Red Hat') {
  <app-cloud-red-hat></app-cloud-red-hat>
}
@if (activeSubTab() === 'Seclore') {
  <app-cloud-seclore></app-cloud-seclore>
}
@if (activeSubTab() === 'Securityscorecard') {
  <app-cloud-securityscorecard></app-cloud-securityscorecard>
}
@if (activeSubTab() === 'Serena') {
  <app-cloud-serena></app-cloud-serena>
}
@if (activeSubTab() === 'Snyk') {
  <app-cloud-snyk></app-cloud-snyk>
}
@if (activeSubTab() === 'Sprinklr') {
  <app-cloud-sprinklr></app-cloud-sprinklr>
}
@if (activeSubTab() === 'Thales') {
  <app-cloud-thales></app-cloud-thales>
}
@if (activeSubTab() === 'Uploader') {
  <app-cloud-uploader></app-cloud-uploader>
}
@if (activeSubTab() === 'Veritas') {
  <app-cloud-veritas></app-cloud-veritas>
}
@if (activeSubTab() === 'Wiz') {
  <app-cloud-wiz></app-cloud-wiz>
}
@if (activeSubTab() === 'Zoiper') {
  <app-cloud-zoiper></app-cloud-zoiper>
}
