@if (activeSubTab() === 'Agent Usage Data') {
  <app-software-dashboard-agent-usage-data></app-software-dashboard-agent-usage-data>
}
@if (activeSubTab() === 'Consolidated Software Summary') {
  <app-software-dashboard-consolidated-software-summary></app-software-dashboard-consolidated-software-summary>
}
@if (activeSubTab() === 'On Cloud') {
  <app-software-dashboard-on-cloud></app-software-dashboard-on-cloud>
}
@if (activeSubTab() === 'On Prem') {
  <app-software-dashboard-on-prem></app-software-dashboard-on-prem>
}
